@tailwind components;
@tailwind base;
@tailwind utilities;

@layer base {
  input[type='range']::-webkit-slider-thumb {
    @apply w-8;
    @apply h-8;
    @apply rounded-full;
    @apply bg-gray-700;
    -webkit-appearance: none;
  }

  input[type='range']::-moz-range-thumb {
    @apply w-8;
    @apply h-8;
    @apply rounded-full;
    @apply bg-gray-700;
  }
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'power-grotesk';
  src: url('../public/fonts/power-grotesk/PowerGroteskTrial-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'power-grotesk';
  src: url('../public/fonts/power-grotesk/PowerGroteskTrial-Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'power-grotesk';
  src: url('../public/fonts/power-grotesk/PowerGroteskTrial-Light.ttf');
  font-weight: 300;
}
